Exploratory data analysis(EDA)

Overview

exploratory data analysis (EDA)is a cruciala step to understand the Crimes in india dataset,identify patterns, and detect anamolies.This section focuses on visualizing and summarizing the data to prepare it for further analysis

Objectives

1. understand the distribution of different crime types
2. explore trends over times(2010-2023)
3. analyze variations in crime rates over states and disticts
4. identify missing and inconsistent data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
import warnings

In [5]:
warnings.filterwarnings("ignore")

In [6]:
crime=pd.read_csv("D:/career/project/crime data/crime.csv")

In [7]:
crime

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,Andhra Pradesh,ADILABAD,2013,96,72,13,61,0,61,65,...,30,2394,12,197,138,464,0,376,1390,6381
1,Andhra Pradesh,ANANTAPUR,2013,156,149,3,28,0,28,110,...,29,2537,23,337,43,161,0,573,1634,6913
2,Andhra Pradesh,CHITTOOR,2013,72,61,2,31,0,31,52,...,18,937,13,119,84,435,0,546,2239,5610
3,Andhra Pradesh,CUDDAPAH,2013,93,107,7,19,0,19,84,...,34,2310,9,318,163,207,0,464,1741,7048
4,Andhra Pradesh,CYBERABAD,2013,162,123,16,138,0,138,192,...,40,4284,43,350,338,1526,0,1104,3139,19992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,DELHI UT,WEST,2001,70,51,12,45,0,45,151,...,3,252,18,65,2,22,0,4,4151,7690
9836,LAKSHADWEEP,LAKSHADWEEP,2001,1,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,17,36
9837,LAKSHADWEEP,TOTAL,2001,1,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,17,36
9838,PUDUCHERRY,PONDICHERRY,2001,25,32,1,9,0,9,4,...,31,635,1,35,27,3,0,166,2324,4068
9839,PUDUCHERRY,TOTAL,2001,25,32,1,9,0,9,4,...,31,635,1,35,27,3,0,166,2324,4068

In [8]:
crime.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,Andhra Pradesh,ADILABAD,2013,96,72,13,61,0,61,65,...,30,2394,12,197,138,464,0,376,1390,6381
1,Andhra Pradesh,ANANTAPUR,2013,156,149,3,28,0,28,110,...,29,2537,23,337,43,161,0,573,1634,6913
2,Andhra Pradesh,CHITTOOR,2013,72,61,2,31,0,31,52,...,18,937,13,119,84,435,0,546,2239,5610
3,Andhra Pradesh,CUDDAPAH,2013,93,107,7,19,0,19,84,...,34,2310,9,318,163,207,0,464,1741,7048
4,Andhra Pradesh,CYBERABAD,2013,162,123,16,138,0,138,192,...,40,4284,43,350,338,1526,0,1104,3139,19992

In [9]:
crime.tail()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
9835,DELHI UT,WEST,2001,70,51,12,45,0,45,151,...,3,252,18,65,2,22,0,4,4151,7690
9836,LAKSHADWEEP,LAKSHADWEEP,2001,1,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,17,36
9837,LAKSHADWEEP,TOTAL,2001,1,0,0,0,0,0,0,...,2,3,0,0,0,0,0,0,17,36
9838,PUDUCHERRY,PONDICHERRY,2001,25,32,1,9,0,9,4,...,31,635,1,35,27,3,0,166,2324,4068
9839,PUDUCHERRY,TOTAL,2001,25,32,1,9,0,9,4,...,31,635,1,35,27,3,0,166,2324,4068

In [19]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 33 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             9840 non-null   object
 1   DISTRICT                                             9840 non-null   object
 2   YEAR                                                 9840 non-null   int64
 3   MURDER                                               9840 non-null   int64
 4   ATTEMPT TO MURDER                                    9840 non-null   int64
 5   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            9840 non-null   int64
 6   RAPE                                                 9840 non-null   int64
 7   CUSTODIAL RAPE                                       9840 non-null   int64
 8   OTHER RAPE                                           9840 non-null   int64
 9   KIDNAPPING & ABDUCTION                               9840 non-null   int64
 10  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          9840 non-null   int64
 11  KIDNAPPING AND ABDUCTION OF OTHERS                   9840 non-null   int64
 12  DACOITY                                              9840 non-null   int64
 13  PREPARATION AND ASSEMBLY FOR DACOITY                 9840 non-null   int64
 14  ROBBERY                                              9840 non-null   int64
 15  BURGLARY                                             9840 non-null   int64
 16  THEFT                                                9840 non-null   int64
 17  AUTO THEFT                                           9840 non-null   int64
 18  OTHER THEFT                                          9840 non-null   int64
 19  RIOTS                                                9840 non-null   int64
 20  CRIMINAL BREACH OF TRUST                             9840 non-null   int64
 21  CHEATING                                             9840 non-null   int64
 22  COUNTERFIETING                                       9840 non-null   int64
 23  ARSON                                                9840 non-null   int64
 24  HURT/GREVIOUS HURT                                   9840 non-null   int64
 25  DOWRY DEATHS                                         9840 non-null   int64
 26  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  9840 non-null   int64
 27  INSULT TO MODESTY OF WOMEN                           9840 non-null   int64
 28  CRUELTY BY HUSBAND OR HIS RELATIVES                  9840 non-null   int64
 29  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          9840 non-null   int64
 30  CAUSING DEATH BY NEGLIGENCE                          9840 non-null   int64
 31  OTHER IPC CRIMES                                     9840 non-null   int64
 32  TOTAL IPC CRIMES                                     9840 non-null   int64
dtypes: int64(31), object(2)
memory usage: 2.5+ MB

In [20]:
crime.isna()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9836,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9837,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9838,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9839,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
crime.isna().sum()

STATE/UT                                               0
DISTRICT                                               0
YEAR                                                   0
MURDER                                                 0
ATTEMPT TO MURDER                                      0
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              0
RAPE                                                   0
CUSTODIAL RAPE                                         0
OTHER RAPE                                             0
KIDNAPPING & ABDUCTION                                 0
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            0
KIDNAPPING AND ABDUCTION OF OTHERS                     0
DACOITY                                                0
PREPARATION AND ASSEMBLY FOR DACOITY                   0
ROBBERY                                                0
BURGLARY                                               0
THEFT                                                  0
AUTO THEFT                                             0
OTHER THEFT                                            0
RIOTS                                                  0
CRIMINAL BREACH OF TRUST                               0
CHEATING                                               0
COUNTERFIETING                                         0
ARSON                                                  0
HURT/GREVIOUS HURT                                     0
DOWRY DEATHS                                           0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    0
INSULT TO MODESTY OF WOMEN                             0
CRUELTY BY HUSBAND OR HIS RELATIVES                    0
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            0
CAUSING DEATH BY NEGLIGENCE                            0
OTHER IPC CRIMES                                       0
TOTAL IPC CRIMES                                       0
dtype: int64

In [22]:
crime.columns

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')












Data cleaning

1.  Standardizing the "STATE/UT" COLUMNS

The "State/UT" columns in the dataset contains state names in both uppercase and lower case format. To maintain consistency across the dataset, all entries iin this column are converted to upper case .This ensures that state names are standardized and prevents any inconsistencies when analyze the data

2.   Removing  Invalid disticts Entries

The "distict" column includes some entries like "TOTAL" and "ZZ TOTAL ",which are not valid distict names but are being considered as such in the dataset. These entries represent aggregates and not specific disticts ,so they are renmoved from the dataset to ensures that only valid distict data is retained .removing these entries helps in maintaining the integrity of the analysis

In [23]:
import pandas as pd

In [33]:
url="D:/career/project/crime data/crime.csv"
data=pd.read_csv(url)
data["STATE/UT"]=data["STATE/UT"].str.upper()

In [36]:
if "DISTRICT" in data.columns:
    data=data[~data["DISTRICT"].str.upper().isin(["TOTAL","ZZ TOTAL"])]
else:
    print("column 'DISTRICT' not found .check for spelling or formatting mistake") 
output_path="crimes_cleaned2.csv"
data.to_csv(output_path,index=False)
print("Data processing completed. modified file saved to",output_path)

Data processing completed. modified file saved to crimes_cleaned2.csv

cleaned csv file have been saved ,rename the crimes_cleaned.csv for running other codes .it is mandatory as a file already exists

Starting analysis